<template>
  <div class="home">Home</div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>
<style lang="scss">
  .product {
    color: blue;
  }
</style>