<template>
  <div class="product">
      Product
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Product",
  components: {
  }
};
</script>


<style lang="scss">
  .product {
    color: green;
  }
</style>